@model ClinicaMD.Web.ViewModels.ClinicHistoryViewModel

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Description " class="control-label"></label>
            <textarea asp-for="Description" class="form-control"rows="4" cols="50"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
          <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <label class="form-control">@Html.DisplayFor(model => model.Date)</label>
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
         </div>
        <div class="col-md-6">
        <div class="form-group">
         <label asp-for="DoctorId" class="control-label"></label>
         <select asp-for="DoctorId" asp-items="Model.Doctors" class="form-control text-capitalize"></select>
         <span asp-validation-for="DoctorId" class="text-danger"></span>
        </div>
    </div>
</div>
